<!DOCTYPE html>
<!--[if lt IE 8]>
        <html class="no-js lt-ie8 lt-ie9" lang="en">
    <![endif]-->
<!--[if IE 8]>
        <html class="no-js lt-ie9 ie8" lang="en">
    <![endif]-->
<!--[if IE 9]>
        <html class="no-js ie9" lang="en">
    <![endif]-->
<!--[if !(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Queensland Design System - Storybook</title>
    {{> _global/header-scripts }}
</head>
<body class="qld__grid custombody"> 
    {{> header/html/component }}
    {{> main_navigation/html/component }}
    <!-- MAIN BODY -->
    <main class="main" role="main">
        {{> breadcrumbs/html/component }}
        <!--CONTENT-->
        <div class="qld__body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-lg-3">
                         {{> internal_navigation/html/component }}
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-9" id="content"></div>
                </div>
            </div>
        </div>
    </main>
    {{> footer/html/component }}
    {{> _global/footer-scripts }}
</body>
</html>