/* Override Storybook UI */

body {
  font-family: 'Roboto', sans-serif; /** Obviously we aren't using Roboto, but we need to look at the current font CDN issue **/
  background-color: var(--background-color);
}

.sb-primary {
  background-color: var(--primary-color);
}